{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "importOrder": [
        "^@core/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@mui/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderCaseInsensitive": true
}