{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "importOrder": [
        "^@core/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@mui/(.*)$",
        "material-react-table",
        "^@auth0/(.*)$",
        "launchdarkly-react-client-sdk",
        "providers",
        "hooks/(.*)$",
        "components",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderCaseInsensitive": true
}